@import 'variables';

.login-form {
    padding-top: 30px;
    @media screen and (min-width: $tablet) {
        padding-top: 60px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: fit-content;
        max-width: 360px;
        border-radius: $border-radius;
        overflow: hidden;
        background-color: $blue-extra-light;
        text-align: left;
        padding: 15px;
        margin: 0 auto;
        .sign-in-form{
            .submit-row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .create-account{
                    transition: all 0.3s;
                    color: $blue-dark;
                    &:hover,&:focus,&:active{
                        color: $blue-medium;
                    }                   
                }
            }
        }
        .accounts-counter{
            color: $text-color;
            span{
                font-weight: 600;
            }
        }        
    }
}